<header class="waper bgcolor">
    <img class="right tianJ" src="img/jia.png" ui-sref="addcustomer"/>
    <p class="colorf">我的客户</p>
</header>
<div class="baif waper mta mb chgline margin-bottom" ng-init="mycustomerinit()">

    <p class="bob souS">
        <img class="left" src="img/rili.png">
        <a class="right borrs anniu" ng-click="mycustomerinit()">
            <img class="left" src="img/fangDJ.png">
            搜索
        </a>
        <label> </label>
        <input class="boa borrs time" type="text" name="startdate" ng-click="pickDate('start')" ng-model="mycus.startdate" readonly="readonly" />
        <label>-</label>
        <input class="boa borrs time" name="enddate" type="text" ng-click="pickDate('end')" ng-model="mycus.enddate" readonly="readonly" />
    </p>

    <div class="waper bob bot bol bor bgf mbottom mycdetail" ng-repeat="customeritem in customerlist">
        <p class="right">
            <span class="disi xq btnr borrs" ui-sref="customeradd({id:customeritem.Id})"><img class="left" src="img/jiaoY.png">拜访</span>
            <span class="disi xq" ui-sref="customerdetail({id:customeritem.Id,isvisited:customerinfo.isvisited})">详情</span>
        </p>

        <div ui-sref="customerdetail({id:customeritem.Id,isvisited:customerinfo.isvisited})">
            <p class="cusp" style="color:#916118;" ng-bind="customeritem.Name"></p>
            <p class="cusp" ng-bind="customeritem.CustomerAddress"></p>
            <p class="colN cusp" ng-bind="customeritem.OfficialTel"></p>
        </div>

        <div class="clear"></div>
    </div>



</div>
<!--<div ng-include="'/Mobile/section/common/footer.html'"></div>-->
<div class="foot waper bot">
    <p class="left" ui-sref="home">
        <img src="img/m1.png" />
        <span>首页</span>
    </p>
    <p class="left" ui-sref="mycustomer" ui-sref-opt="{reload:true}">
        <img src="img/x2.png" />
        <span class="her">客户</span>
    </p>
    <p class="left" ui-sref="customerorders">
        <img src="img/m3.png" />
        <span>订单</span>
    </p>
    <p class="left" ui-sref="mylist" ui-sref-opt="{reload:true}">
        <img src="img/mynocheck.png" />
        <span>我的</span>
    </p>
</div>
